@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .required::after {
    content: "*";
    color: hsl(var(--destructive));
    margin-left: 2px;
  }
}

/* テキストエリアのスクロールバーを非表示にする */
textarea {
  scrollbar-width: none; /* Firefox */
}

textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}